#cynthia{
    padding: 20px;
    margin: 5%;
    border-style: dotted;
    border-color: crimson; 
}


#container{
    border: solid 1px;
    padding: 20px;
    margin: 5%;
    border-color: blue;
}

   


    

